.notification {
  width: fit-content;
  height: 4rem;
  background-color: #666d71c5;
  border-radius: 3rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 6rem;
  align-items: center;
  color: white;
  position: absolute;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
  transition: all 0.4s;
}

.notification p {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0;
}

.error {
  background-color: #9b020285;
}

.success {
  background-color: #02c162b0;
}
