@import "../../styles/variables.scss";

.key {
  padding: 0.4rem 0.8rem 0.4rem 1.2rem;
  border: 1px solid #e6e6e6;
  border-radius: 3rem;

  display: flex;
  align-items: center;
  column-gap: 0.2rem;

  &__text {
    font-size: $font-size-default;
    color: $color-grey-dark;
  }

  &__delete {
    background: url(../../icons/removeKey.svg) no-repeat center;
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s;

    &:hover,
    &:active {
      opacity: 1;
    }

    @include respond(phone) {
      background: url(../../icons/removeKeySmall.svg) no-repeat center;
      width: 1.4rem;
      height: 1.4rem;
    }
  }
}
