.keys__list {
  height: fit-content;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.6rem;
  row-gap: 0.6rem;
}

.noAccounts {
  font-size: 1.6rem;
  color: #9a9a9a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
