.title {
  height: fit-content;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 800;
}

.container {
  display: flex;
  flex-direction: column;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
  margin: 2.2rem 0;
}

.container input {
  width: 29rem;
  height: 3.8rem;
  padding: 0.4rem 1.4rem;
  border-radius: 3rem;
  border: none;
  background-color: #f7f7f7;
}

.changePasswordButton {
  width: 29rem;
  height: 4rem;
  background-color: #5c84f7;
  font-size: 1.6rem;
  font-weight: 800;
  color: #fff;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.3s;
}

.changePasswordButton:hover,
.changePasswordButton:active {
  background-color: #4572f2;
}
