@import "../../../styles/variables.scss";

.title {
  height: fit-content;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 800;
  color: $color-black;
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;
  }
}

.errorText {
  font-size: $font-size-small;
  margin-left: 1.4rem;
  color: $color-red-dark;
}
