.container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.title {
  width: 15rem;
  height: fit-content;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 800;
}
