@import "./variables.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: $manrope-font;
}

body {
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
}

h2 {
  height: 5rem;
  padding-top: 2.2rem;
  font-size: 2.2rem;
  color: $color-black;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.7rem;
}

.formInput {
  width: 28.4rem;
  height: 3.8rem;
  padding: 0 4rem 0 1.4rem;
  background-color: $color-grey-light;
  border: none;
  outline: none;
  border-radius: 3rem;
}

.formInput:active,
.formInput:focus {
  box-shadow: 0 0 1px 1px $color-grey-md inset;
}

*::placeholder {
  font-size: 1.2rem;
  font-weight: 500;
  color: $color-grey-dark;
}

.wrongCredentials {
  border: 1px solid $color-red-dark;
  color: $color-red-dark;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
  background: none;
}
input:focus:-moz-placeholder {
  color: transparent;
  background: none;
} /* FireFox 4-18 */
input:focus::-moz-placeholder {
  color: transparent;
  background: none;
} /* FireFox 19+ */
input:focus:-ms-input-placeholder {
  color: transparent;
  background: none;
} /* Internet Explorer 10+ */

::-webkit-scrollbar {
  display: none;
}

.centered {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@include respond(big-desktop) {
  html {
    font-size: 80%;
  }
}

@include respond(tab-port) {
  html {
    font-size: 58%;
  }
}

@include respond(phone) {
  html {
    font-size: 62.5%;
  }
}
