@import "../../styles/variables.scss";

.tabButtonsContainer {
  padding-top: 1.6rem;
  padding-bottom: 0.2rem;
  display: flex;
  justify-content: space-around;
}

.tabButton {
  border: none;
  background: none;
  font-size: $font-size-large;
  font-weight: 700;
  color: $color-grey-dark;
  transition: all 0.3s;

  &--active {
    color: $color-black;
  }
}

.underline {
  margin-top: 0.2rem;
  height: 0.4rem;
  border-radius: 2rem;
  background-color: transparent;
  transition: all 0.3s;

  &--active {
    background-color: $color-primary;
  }
}
