.backdrop {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  height: fit-content;
  padding: 3rem 3.4rem;
  background-color: #fff;
  border-radius: 3rem;
  display: flex;
  position: relative;

  span {
    background: url(../../icons/close.svg) no-repeat center;
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
    position: absolute;
    top: 2.2rem;
    right: 2.2rem;
    opacity: 0.6;
    transition: all 0.3s;

    &:hover {
      opacity: 1;
    }
  }
}

.openModal {
  animation: modalOpen 0.35s;
}
.closeModal {
  animation: modalClose 0.35s;
}

@keyframes modalOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes modalClose {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
