@import "../../styles/variables.scss";

.passwordInput {
  position: relative;

  &__icon {
    opacity: 0.5;
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 1.4rem;
    bottom: 0.8rem;
    cursor: pointer;
    transition: all 0.3s;

    &--hideText {
      background: url(../../icons/closedEye.svg) no-repeat center;
    }
    &--seeText {
      background: url(../../icons/openedEye.svg) no-repeat center;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.wrongCredentials {
  border: 1px solid $color-red-dark;
  color: $color-red-dark;
}
