.passwordInput {
  position: relative;
}

.seePassword {
  background: url(../../icons/closedEye.svg) no-repeat center;
  opacity: 0.5;
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 1.4rem;
  bottom: 0.8rem;
  cursor: pointer;
  transition: all 0.3s;
}

.seeText {
  background: url(../../icons/openedEye.svg) no-repeat center !important;
}

.seePassword:hover {
  opacity: 1;
}

.wrongCredentials {
  border: 1px solid #fa324b;
  color: #fa324b;
}

.inputs input:focus::-webkit-input-placeholder {
  color: transparent;
  background: none;
}
.inputs input:focus:-moz-placeholder {
  color: transparent;
  background: none;
} /* FireFox 4-18 */
.inputs input:focus::-moz-placeholder {
  color: transparent;
  background: none;
} /* FireFox 19+ */
.inputs input:focus:-ms-input-placeholder {
  color: transparent;
  background: none;
} /* Internet Explorer 10+ */
