.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.menuList {
  list-style: none;
  background: #fff;
  position: fixed;
  right: 0;
  width: 18rem;
  height: 8rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  border-end-start-radius: 2rem;
  box-shadow: -3px 3px 12px 1px rgba(206, 206, 206, 0.4);
}

.menuLi {
  display: flex;
  column-gap: 0.6rem;

  width: fit-content;
  font-size: 1.3rem;
  transition: all 0.3s;
  cursor: pointer;
}

.menuLi:hover {
  text-decoration: underline;
}

.optionsIcon {
  background: url(../../icons/options.svg) no-repeat center;
  width: 1.6rem;
  height: 1.8rem;
}

.logoutIcon {
  background: url(../../icons/logout.svg) no-repeat center;
  width: 1.8rem;
  height: 1.8rem;
}

.menuOpen {
  animation: openMenu 0.2s;
}
.menuClose {
  animation: closeMenu 0.2s;
}

@keyframes openMenu {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes closeMenu {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
