.header {
  position: sticky;
  z-index: 100;
  width: 100vw;
  min-height: 4.5rem;
  background: #5c84f7;
}

.header nav {
  max-width: 200rem;
  margin: 0 auto;
  height: 7.4vh;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__img {
  width: 5.6rem;
}

.user__avatar {
  width: 4.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.user__avatar:hover {
  box-shadow: 0 0 4px 3px rgba(255, 255, 255, 0.1);
}
