@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Manrope", sans-serif;
  background-color: #fff;
}

body {
  height: 100vh;
  overflow: hidden;
}

main {
  max-width: 200rem;
  margin: 0 auto;
  border-left: 1px solid #e6e6e6;

  display: grid;
  grid-template-columns: 3fr 4fr 3fr;
}

h2 {
  height: 5rem;
  padding-top: 2.2rem;
  font-size: 2.2rem;
  color: #000;
}
